<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">

  <link href="css/ionic.app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script src="lib/angular-local-storage/dist/angular-local-storage.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>

<body ng-app="ciTodo" ng-controller="mainCtrl" ng-init="getTasks()">

<ion-pane>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Cordova-Ionic-Todo</h1>
    <button class="button button-icon" ng-click="openTaskModal()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <div class="list card" ng-repeat="task in tasks track by $index">
      <div class="item item-divider">
        <span ng-bind="task.title"></span>
      </div>
      <div class="item item-body">
        <strong>Title: <span ng-bind="task.title"></span></strong>
        <p><span ng-bind="task.content"></span></p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
            <span class="item item-checkbox">
              <label class="checkbox">
                <input type="checkbox" ng-model="task.completed" ng-click="completeTask($index)">
              </label>
            </span>
        <a class="tab-item assertive" ng-click="removeTask($index)">
          <i class="icon ion-android-close"></i>
        </a>
      </div>
    </div>
  </ion-content>
</ion-pane>

<script id="new-task-modal.html" type="text/ng-template">
<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Create a new Task</h1>
    <button class="button button-icon" ng-click="closeTaskModal()">
      <i class="icon ion-android-close"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="createTask()">
      <div class="list list-inset">
        <label class="item item-input">
          <input ng-model="task.title" type="text" placeholder="Task title">
        </label>
        <label class="item item-input">
          <textarea ng-model="task.content" rows="5" placeholder="Task content"></textarea>
        </label>
        <ul class="list">
          <li class="item item-toggle">
            Completed?
            <label class="toggle toggle-balanced">
              <input type="checkbox" ng-model="task.completed">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </li>
        </ul>
        <button type="submit" class="button button-block button-positive">Create Task</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
</script>

</body>
</html>
